<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<div id="hero">
			<img src="./images/hero-dark.jpg" inline />	
			<img id="bright" src="./images/hero-bright.jpg" inline />	
		</div>

		<img id="hand" src="./images/hand.png" inline />	
		<!-- <img id="trace" src="./frames/f5.jpg"> -->
		
		<div id="t1">
			<!-- <img class="retina" src="./images/tint.png" inline />		 -->
			<img class="retina shadow" id="word" src="./images/t1.png" inline />		
		</div>
		

	</div>
	<div class="frame frame2">
		<img class="retina" id="bg" src="./images/bg.jpg" inline />	
		<div id="darker"></div>
		<img class="retina " id="t2" src="./images/t2.png" inline />	
		<img class="retina " id="logo" src="./images/logo.png" inline />	
		<img class="retina " id="t3" src="./images/t3.png" inline />	
		<img class="retina " id="cta" src="./images/cta.png" inline />	
	</div>
</div>